$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

title {
  color: #0000ff;
}

h1 {
  color: #663355;
  font-family: 'courier', bold;
  font-size: 55px;
  text-align: center;
  }


nav {
  text-align: center;
}


.gameboard {
  margin: auto;
  padding: 30px;
  width: 480px;
  }

.game-cell {
  border: 2px solid black;
  height: 150px;
  width: 150px;
}

.box {
  border: 1px bold;
  font-family: 'courier';
  font-size: 80px;
  height: 150px;
  padding: 20px;
  text-align: center;
  width: 150px;
}

.button {
  background-color: #008000;
  bottom: 34em;
  box-shadow: 0 0 3px 1px;
  display: inline-block;
  float: left;
  height: 20%;
  left: + 5%;
  line-height: 2;
  position: relative;
  text-align: center;
  width: 10%;
  }
